<ion-content class="milestone-list ion-padding">
  <div class="w-full grid place-content-center">
    <ion-segment #filterSegment class="grid place-content-center"
      style="--background: transparent; background: transparent;" value="milestones">
      <ion-segment-button value="milestones">
        <ion-label class="segment-label">Milestones</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="flex flex-col justify-between h-full">
    <div class="flex flex-col pb-[-16px]">
      <ion-list style="--background: transparent; background: transparent;" lines="none" mode="md">
        @for(milestone of goaldoc.goal?.milestones; track $index; let index = $index){
        <ion-item-sliding #milestoneslide>
          <ion-item class="mx-[-0.5em]" style="--background: transparent; background: transparent;">
            <ion-checkbox class="flex flex-col" style="--background: transparent; background: transparent;" mode="md"
              (ionChange)="milestoneChecked($event, goaldoc.id!, index, milestone!)" [checked]="milestone.isComplete"
              [value]="milestone.isComplete">
              <div class="text-lg font-bold">{{milestone.name}} </div>
              <div class="text-sm">Forecast Date:
                {{milestone.forecastDate?dateService.formatDateString(milestone.forecastDate!.toString()):""}}
              </div>
              <div class="text-sm">Date Completed:
                {{milestone.dateCompleted?dateService.formatDateString(milestone.dateCompleted!.toString()):""}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option style="--background: transparent; background: transparent;" color="dark"
              (click)="openMilestoneModal('save',goaldoc.id!, milestone!)">
              <ion-icon class="text-lg" slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        }
        <ion-item class="text-sm text-wrap mt-[0.5em] h-[40px]"
          style="--background: transparent; background: transparent;">
          <ion-button class="w-full text-2xl" style="--background: transparent; background: transparent;" fill="clear"
            mode="ios" (click)="openMilestoneModal('add', goalid!)">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>