<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelHabitModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveHabit()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item class="pb-4" lines="none">
    <ion-input labelPlacement="stacked" type="text" placeholder="New Habit" [(ngModel)]="habit.name"></ion-input>
  </ion-item>
</ion-content>