<ion-content class="homepage" [fullscreen]="true">
  <div>
    <ion-header>
      <ion-toolbar>
        <div class="flex flex-row justify-stretch w-screen">
          <ion-button fill="clear" (click)="changeDay(-1)">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
          @if(formatter.format(day()) === formatter.format(today)){
          <div class="w-full grid place-content-center font-bold text-xl">{{ dayFormatted()}}</div>
          } @else {
          <div class="w-full grid place-content-center font-bold text-xl text-stone-300">{{ dayFormatted()}}</div>
          }
          <ion-button fill="clear" (click)="changeDay(1)">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-header>
    <div class="grid grid-cols-2 px-2 pt-5">
      <div class="pl-2">
        <!-- <ion-segment class="grid place-content-center ml-[12.5px] mb-6 mt-[-8px]" value="habits" mode="ios">
          <ion-segment-button value="habits">
            <ion-label>Habits</ion-label>
          </ion-segment-button>
          <ion-segment-button value="milestones">
            <ion-label>Milestones</ion-label>
          </ion-segment-button>
        </ion-segment> -->
        <div class="w-full mt-[-8px]">
          <!-- goal row -->
          @for(goal of goaldocstore.goals(); track goal.id){
          <div class="flex flex-row justify-start">
            <div class="font-bold text-base flex items-center">{{goal.goal?.name}}</div>
            <ion-button class="pl-3" fill="clear" mode="ios" (click)="openGoalModal('save', goal)">
              <ion-icon class="text-base" slot="icon-only" name="pencil" color="light"></ion-icon>
            </ion-button>
          </div>
          <!-- habit row -->
          <div>
            <ion-list style="margin-right:-25px" class="py-4" lines="none" mode="md">
              @for(habit of goal.goal?.habits; track habit.name){
              <ion-item-sliding #habitSlide>
                <ion-item class="text-sm text-wrap mx-[-0.5em]">
                  <ion-checkbox mode="md" (ionChange)="habitChecked(goal ,habit)" [checked]="isComplete(habit)"
                    [value]="isComplete(habit)">{{habit.name}}</ion-checkbox>
                </ion-item>
                <ion-item-options>
                  <ion-item-option color="dark" (click)="openHabitModal('save',goal.id!, habit!)">
                    <ion-icon class="text-lg" slot="icon-only" name="pencil"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              }
              <ion-item class="text-sm text-wrap mx-[-0.5em]">
                <ion-button class="w-full mt-[-4px] text-2xl" fill="clear" mode="ios"
                  (click)="openHabitModal('add',goal.id!)">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
          }
          <ion-fab class="fixed bottom-5" mode="ios">
            <ion-fab-button size="small" expand="block" (click)="openGoalModal('add')">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </div>
      <div class="pr-3 mt-[-10px] grid place-content-end">
        @if(goaldocstore.habitMatrix()){
        <app-graph [year]="year.toString()" colorLevel1="#003b3b" colorLevel2="#005050" colorLevel3="#006a6a"
          colorLevel4="#008282" colorLevel5="#009595" colorLevel6="#00aeae" colorLevel7="#00c5c5" colorLevel8="#00d9d9"
          colorLevel9="#00eaea" colorLevel10="#00ffff" colorMilestone="#ff4600"></app-graph>
        }
      </div>
    </div>
  </div>
  <!-- <ion-modal #modalgoal trigger="open-modal-goal" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="0.6"
    [backdropDismiss]="true" [backdropBreakpoint]="0" [breakpoints]="[0, 0.6, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelGoalModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="addNewGoal()" [strong]="true">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item class="pb-4" lines="none">
          <ion-input labelPlacement="stacked" type="text" placeholder="New Goal" [(ngModel)]="newGoal.name"></ion-input>
        </ion-item>
</ion-content>
</ng-template>
</ion-modal> -->
</ion-content>