<div class="corpo">
  <div class="graph">
    <div class="months">
      <div></div>
      <div>Jan</div>
      <div>Feb</div>
      <div>Mar</div>
      <div>Apr</div>
      <div>May</div>
      <div>Jun</div>
      <div>Jul</div>
      <div>Aug</div>
      <div>Sep</div>
      <div>Oct</div>
      <div>Nov</div>
      <div>Dec</div>
    </div>
    <div class="grid grid-cols-7 gap-px">
      <div class="col-span-7 grid place-content-center h-[14px]">{{dateService.day().getFullYear()}}</div>
      <div class="weekdays grid grid-cols-7 col-span-7">
        <div class="w-[12px] h-[12px] grid place-content-center">S</div>
        <div class="w-[12px] h-[12px] grid place-content-center">M</div>
        <div class="w-[12px] h-[12px] grid place-content-center">T</div>
        <div class="w-[12px] h-[12px] grid place-content-center">W</div>
        <div class="w-[12px] h-[12px] grid place-content-center">T</div>
        <div class="w-[12px] h-[12px] grid place-content-center">F</div>
        <div class="w-[12px] h-[12px] grid place-content-center">S</div>
      </div>
      @for(square of habitgriddocstore.habitMatrix(); track $index){
      <div [id]="square[0]" data-placement="top" class="days" [style.background-color]="getColor(square[1])">
        <!-- {{square[2]}} -->
        @if(isMilestoneAchieved(square[3]) === true) {
        <ion-icon name="star-outline"></ion-icon>
        }
      </div>
      }
    </div>
  </div>
</div>